html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #38eec0, #50e7d3, #59dfc8, #77f1cd, #66f1d3);
}

.header
{
	color: rgb(204, 247, 89);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: #df8fc0cc;float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(210, 157, 235, 0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(240, 164, 164);font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(170, 163, 163, 0.8);
}
.input_div_message_page label
{
	color: rgb(0, 0, 0);
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: rgb(235, 211, 211)
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:rgb(224, 208, 208);
}